<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Discover and add nami devices</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>Discover and add nami devices</string>
    <key>NSCameraUsageDescription</key>
    <string>Camera access for QR scanner</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>Required to read nami devices via Wi-Fi</string>
</dict>
</plist>
