<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string></string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>Czech</string>
		<string>Dutch</string>
		<string>ja</string>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_nami._tcp</string>
		<string>_namicoaps._udp</string>
		<string>_dartVmService._tcp</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Regular.ttf</string>
	</array>
</dict>
</plist>
